/* CSS declarations go here */
body {
  background-color: #eceff1;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.tbc-logo {
  max-height: 100%;
  max-width: 100%;
  height: 50px;
  margin: 5px 0;
}

.container {
  height: 100%;
  background-color: white;
}

.task-title {
  font-weight: 700;
}

.nav-wrapper {
  padding: 0 15%;
}

#score-graph {
  margin: 2em 0;
}

.pad-content {
  padding: 4% 4%;
}

.task-header {
  font-weight: 700;
  text-align: center;
}

.warning-icon {
  display: inline-flex;
  vertical-align: middle;
}

.beta-icon {
  display: inline-flex;
  vertical-align: middle;
  font-size: 10px;
  background-color: #03acd4;
}

.separating-bar {
  margin: 25px 0;
}

.mouseover-toggle {
  cursor: pointer;
}

.align-icon {
  display: inline-flex;
  vertical-align: middle;
}

html {
  font-weight: 700;
}

.c3-axis-y .tick tspan {
  font-size: medium;
}