<head>
  <title>Decision Server</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<template name="main">
<main>
<body>
  {{> navbar}}
  <div class="container">
    <div class="pad-content">
      {{#if currentUser}}
        <div class="row">
          <div class="col s12">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input class="file-upload-input" type="file" multiple>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>
            <br/>
            <iframe id="wheel" src="http://wheeldecide.com/e.php?c1=a&c2=b&c3=c&c4=d&c5=e&time=5" width="500" height="500" scrolling="no" frameborder="0"></iframe>            
          </div>
        </div>
      {{else}}
        <div class="row">
          <div class="col s12">
            <div class="card blue darken-4">
              <div class="card-content white-text">
                <span class="card-title">Welcome to the decision server!</span> 
                <p>Where you can randomly select students by using IClicker data</p>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</body>
</main>
{{> footer}}
</template>

