<head>
  <title>Decision Server</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<template name="main">
<main>
<body>
  {{> navbar}}
  <div class="container">
    <div class="pad-content">
      {{#if currentUser}}
        <div class="row">
          <div class="col s12">
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input class="file-upload-input" type="file" accept=".csv">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your IClicker csv file">
              </div>
            </div>
            <br/>
            <div id="dummy" margin-top="100%"></div>
            <div class="container">
              <iframe id="wheel" src="http://wheeldecide.com/e.php?c1=uploadAFile&remove=1" width="100%" height="500px" scrolling="no" frameborder="0"></iframe>
            </div> 
          </div>
        </div>
      {{else}}
        <div class="row">
          <div class="col s12">
            <div class="card blue darken-4">
              <div class="card-content white-text">
                <span class="card-title">Welcome to the decision server!</span> 
                <p>Where you can randomly select students by using IClicker data</p>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</body>
</main>
{{> footer}}
</template>

